@tailwind base;

header {
  @apply border border-gray-200 mb-2 p-3;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 5px;
}

.tabs li {
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
}

.tabs li:hover {
  background-color: #f2f2f2;
}

.tabs .selected {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-top: 3px solid #0065b3;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

.tabs-panel-container {
  @apply h-full;
  background-color: #f2f2f2;
}

footer {
  background-color: #e3e3e3;
}

button.action {
  background-color: #2ea44f;
  @apply text-white rounded-md text-sm p-2;
  height: 37px;
}

button.link {
  color: #2b8fe5;
  @apply text-sm p-2;
}

input:focus,
button:focus {
  outline: 0;
}

/* FilterSetting */
.filter-setting {
  background-color: #eee;
  @apply border p-2 mt-2 mb-2 shadow-xs rounded-sm;
}

.filter-setting .options {
  @apply flex;
  max-height: 200px;
  overflow: auto;
}

@screen sm {
  .filter-setting {
    @apply block;
  }
}

.filter-setting .options label {
  @apply leading-5 cursor-pointer;
}

.filter-setting .options input["type="checkbox""]:hover {
  @apply border;
}

.fadeout-5sec-delay {
  -webkit-animation: 1s ease 5s normal forwards 1 fadeout;
  animation: 1s ease 5s normal forwards 1 fadeout;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button.search {
  background-color: hsl(206deg 100% 28%);
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tags div {
  @apply mt-2;
}

.card {
  @apply m-3 rounded-sm overflow-hidden shadow-md bg-white;
}

.card .title {
  @apply font-bold text-xl mb-2;
}

.card .title > a {
    @apply text-blue-500;
}

.resource-tag {
  @apply m-1 inline-block bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700 mr-2;
}

@tailwind components;
@tailwind utilities;
