@tailwind base;

header {
  @apply border border-gray-200 mb-2 p-3;
}

.tabs {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 5px;
}

.tabs li {
  display: inline;
  padding: 0.5rem;
  cursor: pointer;
}

.tabs li:hover {
  background-color: #f2f2f2;
}

.tabs .selected {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-top: 3px solid #0065b3;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

.tabs-panel-container {
  @apply h-full;
  background-color: #f2f2f2;
}

footer {
  background-color: #e3e3e3;
}

button.action {
  background-color: #2ea44f;
  @apply text-white rounded-md text-sm p-2;
}

button.link {
  color: #2b8fe5;
  @apply text-sm p-2;
}

input:focus,
button:focus {
  outline: 0;
}

.fadeout-5sec-delay {
  -webkit-animation: 1s ease 5s normal forwards 1 fadeout;
  animation: 1s ease 5s normal forwards 1 fadeout;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@tailwind components;
@tailwind utilities;
